body {
    /* Presentation*/
    font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
    color: #42382e;

    /* Layout */
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 960px) minmax(0, 1fr);
    grid-template-rows: min-content;
    grid-template-areas:
    " hdr hdr hdr "
    " ... bio ... "
    " ... soc ... "
    " ... crl ... "
    " ... vid ... "
    " ... bus ... "
    " ... str ... "
    " ... lst ... "
    " ... cnt ... ";

    grid-gap: 6em;
}

header {
    grid-area: hdr;
    margin: auto;
/*    background: url("images/milkyway.jpeg"); */
    height: 40vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    " logo  "
    " title "
    " intro "
    "  voa  ";
}

header * {
    line-height: 0px;
}

header svg {
    grid-area: logo;

    margin: auto;
    width: 10vw;
}

header svg path, circle {
   fill: #42382e;
   stroke: #ffffff;
   stroke-width: .3;
}

header h1 {
    grid-area: title;
    margin: auto;
}

header h3 {
    grid-area: intro;
    margin: auto;
}

header h1, h2, h3 {
    text-shadow: -0.25px 0 #ffffff, 0 0.25px #ffffff, 0.25px 0 #ffffff, 0 -0.25px #ffffff;
}

header div:nth-of-type(1) {
    grid-area: voa;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "icn"
    "ttl";
}

#voices svg {
    grid-area: icn;
    margin: auto;
    width: 2.5em;
}

#voices h2 {
    grid-area: ttl;
    margin: auto;
}


#bio {
    grid-area: bio;
    margin: auto;
}

#social {
    grid-area: soc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    " yt  .  sf"
    " .  tb  . "
    " pc  .  of";
    justify-items: center;
}

#social a:nth-of-type(1) {
    grid-area: yt;
    margin: auto;
}


#social a:nth-of-type(2) {
    grid-area: sf;
    margin: auto;
}


#social a:nth-of-type(3) {
    grid-area: tb;
    margin: auto;
    width: 5em;
}

#social a:nth-of-type(4) {
    grid-area: pc;
    margin: auto;
}

#social a:nth-of-type(5) {
    grid-area: of;
    margin: auto;
}

#carousel {
    grid-area: crl;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-template-areas:
    " tag map sldr ";
    grid-gap: 2em;
    align-items: center;
}

#carousel h2 {
    font-size: 2em;
    transform: rotateY(45deg);
}


/*
#carousel h2 {
    grid-area: tag;
    margin: auto;
}

#carousel div {
    grid-area: sldr;
    height: 7em;
    width: 500px;
    margin: auto;
}

#carousel div div {
    margin: auto;
}

#map {
    grid-area: map;
    margin: auto;
}

*/

#video {
    grid-area: vid;
    margin: auto;
    width: 100%;

    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
    " vd tl ";
    grid-gap: 5em;
}

#video h2 {
    grid-area: tl;
    margin: auto;
    justify-self: end;
}

#video iframe {
    grid-area: vd;
    margin: auto;
    justify-self: start;
}

#bus {
    grid-area: bus;
    margin: auto;

    display: grid;
}

#bus h2 {
    margin: auto;
}

#store {
    grid-area: str;
    margin: auto;
}

#mailList {
    grid-area: lst;
    margin: auto;
}

#contact {
    grid-area: cnt;
    margin: auto;
}

/* Styles */

.icon {
    width: 3em;
}

.clip-circle {
     /* clip-path: circle(100% at center);*/
    border-radius: 100px;
    
}

.chunky p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 98%;
}


@supports (-webkit-background-clip: text) {
    .text-mask {
	-webkit-background-clip: text;
    }


    /* To-do: Apply color outside condition */
    .chunky p:nth-of-type(1) {
	color: pink; 
    }

    .chunky p:nth-of-type(2) {
	color: transparent !important;
    }

    .texture {
	background-repeat: no-repeat;
	background-image: url('images/textmask.png');
    }
}
